src/main/java/com/blaeser/models/sqlTemplate.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0">

	<xsd:element name="sqlTemplateGroup" type="sqlTemplateGroupType" />
	
	<xsd:complexType name="sqlTemplateGroupType">
		<xsd:sequence>
			<xsd:element name="sqlTemplate" type="sqlTemplateType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sqlTemplateType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

</xsd:schema>